@page "/station/details/{id:int}"
@using Solita.HelsinkiBikeApp.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Staion details</PageTitle>

@if (null == bikeStation)
{
    <p>Loading station...</p>
    <p>This may take a few seconds, so stay still🚲</p>
}
else
{
    <div class="station-info">
        <h2>@bikeStation.Name</h2>
        <p>@bikeStation.Osoite</p>
        <p>Capacity: @bikeStation.Kapasiteet 🚲</p>
        <a href="@($"https://www.google.com/maps?q={bikeStation.Y},{bikeStation.X}")" target="_blank">View station on Google Maps</a>
        <div class="row">
            <div class="column">
                <h3>Outgoing Journeys</h3>
                <p>Total number of journeys starting from the station: @totalStarts</p>
                <p>The average distance of a journey starting from the station: @avgDistJourneysStarted km</p>
                <h4>Top 5 most popular return stations</h4>
                @if (topReturnStations == null)
                {
                    <p>Loading top return stations...</p>
                }
                else if (topReturnStations.Count == 0)
                {
                    <p>No data found for top return stations.</p>
                }
                else
                {
                    <ol>
                        @foreach (var station in topReturnStations)
                        {
                            <li>@station.Name</li>
                        }
                    </ol>
                }
            </div>
            <div class="column">
                <h3>Incoming Journeys</h3>
                <p>Total number of journeys ending at the station: @totalEnded</p>
                <p>The average distance of a journey ending at the station: @avgDistJourneysEnded km</p>
                <h4>Top 5 most popular departure stations</h4>
                @if (topDepartureStations == null)
                {
                    <p>Loading top departure stations...</p>
                }
                else if (topDepartureStations.Count == 0)
                {
                    <p>No data found for top departure stations.</p>
                }
                else
                {
                    <ol>
                        @foreach (var station in topDepartureStations)
                        {
                            <li>@station.Name</li>
                        }
                    </ol>
                }
            </div>
        </div>
    </div>
}

@code {

    private BikeStation? bikeStation;
    private int? totalStarts = 0;
    private int? totalEnded = 0;
    private double? avgDistJourneysStarted = 0;
    private double? avgDistJourneysEnded = 0;
    private List<BikeStation>? topReturnStations;
    private List<BikeStation>? topDepartureStations;

    [Parameter]
    public int ID { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var stations = await Http.GetFromJsonAsync<BikeStation[]>($"bikestation");
        bikeStation = stations.FirstOrDefault(s => s.ID == ID);

        if (bikeStation != null)
        {
            totalStarts = await NumberOfJourneysStarted(ID);
            totalEnded = await NumberOfJourneysEnded(ID);
            avgDistJourneysStarted = await AvgDistJourneysStarting(ID);
            avgDistJourneysEnded = await AvgDistJourneysEnding(ID);
            await GetTopReturnStations(ID);
            await GetTopDepartureStations(ID);
        }

    }

    //Get the total number of journeys started from station
    private async Task<int> NumberOfJourneysStarted(int id)
    {
        int totalStarts = 0;

        var url = $"summer21journey/journeysstarted?id={id}";
        HttpResponseMessage response = await Http.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            string jsonResponse = await response.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponse, out int i))
            {
                totalStarts += int.Parse(jsonResponse);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys started may.");
        }

        return totalStarts;
    }

    //Get the total number of journeys ending at the station
    private async Task<int> NumberOfJourneysEnded(int id)
    {
        int totalEnded = 0;

        var url = $"summer21journey/journeysended?id={id}";
        HttpResponseMessage response = await Http.GetAsync(url);

        if (response.IsSuccessStatusCode)
        {
            string jsonResponse = await response.Content.ReadAsStringAsync();
            if (int.TryParse(jsonResponse, out int i))
            {
                totalEnded += int.Parse(jsonResponse);
            }
        }
        else
        {
            throw new Exception("Failed to get the number of journeys ended may.");
        }

        return totalEnded;
    }

    //Get average distance of a journey starting from the station
    private async Task<double> AvgDistJourneysStarting(int id)
    {
        var url = $"summer21journey/average_distance_starting_from_station?id={id}";
        double averageDistance = await Http.GetFromJsonAsync<double>(url);
        return averageDistance;
    }

    //Get average distance of a journey ending at the station
    private async Task<double> AvgDistJourneysEnding(int id)
    {
        var url = $"summer21journey/average_distance_ending_at_station?id={id}";
        double averageDistance = await Http.GetFromJsonAsync<double>(url);
        return averageDistance;
    }

    private async Task GetTopReturnStations(int id)
    {
        var url = $"summer21journey/top_return_stations?id={id}";

        topReturnStations = await Http.GetFromJsonAsync<List<BikeStation>>(url);
    }

     private async Task GetTopDepartureStations(int id)
    {
        var url = $"summer21journey/top_departure_stations?id={id}";

        topDepartureStations = await Http.GetFromJsonAsync<List<BikeStation>>(url);
    }
}